.developer-company-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.developer-company-logo__icon {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }
}

.developer-company-logo__font {
  font-family: @main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: @main-light-font-color;
}

@media (min-width: @tablet-width) {
  .developer-company-logo__font {
    margin-right: 28px;
  }
}
