.main-footer__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__item {
  margin: 0 12px;

  &:active {
    & .main-footer__link-social {
      opacity: 0.3;
    }
  }
}

.main-footer__link-social {
  display: block;
  height: auto;

  &:focus {
    outline: 2px solid @main-light-font-color;
  }
}

.main-footer__icon-social {
  color: #666666;

  &:hover {
    color: #68b738;
  }
}

.main-footer__social {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  background-color: @background-color-grayish;
}

.main-footer__logo-font {
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-footer__logo-with-icon {
  text-decoration: none;
  padding-top: 20px;

  &:hover {
    & .developer-company-logo__icon {
      color: #68b738;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid @main-light-font-color;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 30px;
    align-items: center;
  }

  .main-footer__logo-with-icon {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main-footer__list {
    border: none;
    padding-top: 26px;
    padding-bottom: 20px;
  }

  .main-footer__item {
    margin: 0;
    margin-left: 24px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__social-container {
    background-color: @background-color-grayish;
  }

  .main-footer__social {
    max-width: 1220px;
    padding: 46px 0;
    margin: 0 auto;
  }
}
