.form-title {
  position: relative;
  padding-left: 20px;
  margin-top: 24px;
  margin-bottom: 35px;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @main-font-color;
}
