.form-page {
  padding-top: 66px;
}

.form-page__header {
  margin-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 37px;
}

.form-page__requirement {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  display: block;
  max-width: 226px;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @main-font-color;

  + br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .form-page {
    padding-top: 116px;
  }

  .form-page__header {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 54px;
  }

  .form-page__requirement {
    max-width: none;
    width: 45%;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .form-page {
    padding-top: 187px;
  }

  .form-page__requirement {
    display: block;
    width: auto;
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 66px;
    text-align: left;

    + br {
      display: block;
    }
  }

  .form-page__header {
    max-width: 1220px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 56px;
  }
}
