.form-page__header {
  margin-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 37px;
}

.form-page__requirement {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  display: block;
  max-width: 226px;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @main-font-color;
}

@media (min-width: @tablet-width) {
  .form-page {
    padding-top: 65px;
  }

  .form-page__header {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 54px;
  }

  .form-page__requirement {
    max-width: none;
    width: 40%;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 66px;
  }
}
