.groups-form-elements {
  margin: 0;
  padding: 0;
  border: none;
}

.groups-form-elements__legend {
  width: 100%;
  box-sizing: border-box;
}

.groups-form-elements__input-field {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}
