.text-footnote {
  display: block;
  font-family: @main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @main-font-color;
}

@media (min-width: @tablet-width) {
  .text-footnote {
    text-align: left;
    align-self: center;
    font-size: 16px;
    line-height: 16px;
    margin-left: 35px;
  }
}

@media (min-width: @desktop-width) {
  .text-footnote {
    margin-left: 50px;
  }
}
