.company-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.company-logo__icon {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.company-logo__font {
  padding-top: 10px;
  padding-bottom: 10px;

  &--header-position {
    transform: translateX(50px);
  }

  &--footer-position {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .company-logo__icon {
    display: none;

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .company-logo__font {
    &--header-position {
      transform: none;
      margin-left: 12px;
    }

    &--footer-position {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .company-logo__icon {
    display: none;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
