.main-nav {
  &--nojs {
    .main-nav__list {
      height: auto;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;

  &--show {
    height: 208px;
  }
}

.main-nav__item {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  display: block;
  color: @main-font-color;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;

  &:not(.main-nav__link--current):hover {
    opacity: 0.6;
  }

  &:not(.main-nav__link--current):active {
    opacity: 0.3;
  }

  &:focus {
    outline: 2px solid @main-light-font-color;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    height: auto;
    flex-direction: row;
    overflow: visible;
  }

  .main-nav__item {
    margin-right: 34px;
    border-bottom: none;
    font-size: 18px;
    line-height: 24px;
    border: none;

    &:last-child {
      margin-right: 0;
      border-bottom: none;
      border: none;
    }
  }

  .main-nav__link {
    padding-top: 14px;
    padding-bottom: 14px;

    &--current {
      border-bottom: 2px solid #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item {
    font-size: 20px;
    line-height: 30px;
  }

  .main-nav__link {
    &--main-page-only {
      color: @secondary-font-color;
      transition: color 0.4s;

      &.main-nav__link--current {
        border-bottom: 2px solid @main-background-color;
      }
    }

    &--current {
      border-bottom: 2px solid #68b738;

      &.main-nav__link--desktop-only {
        border-bottom: 2px solid #68b738;
      }
    }

    &--desktop-only {
      color: @main-font-color;
    }
  }
}
