.main-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: @main-background-color;
  z-index: 10;

  &--nojs {
    position: static;

    & + .main-page {
      padding-top: 0;
    }

    & + .catalog-page {
      padding-top: 0;
    }

    & + .form-page {
      padding-top: 0;
    }

    & .main-header__toggle {
      display: none;
    }
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo-with-icon {
  width: 50%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--nojs {
      position: static;

      & + .catalog-page {
        padding-top: 65px;
      }

      & + .form-page {
        padding-top: 65px;
      }
    }
  }

  .main-header__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .main-header__wrapper {
    padding: 0;
    height: 53px;
    border: none;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo-with-icon {
    width: auto;
    height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 53px;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    transition: padding-top 0.4s, background-color 0.4s;

    &--desktop-only {
      padding-top: 0;
      background-color: @main-background-color;
    }

    &--nojs {
      position: absolute;

      & + .catalog-page {
        padding-top: 188px;
      }

      & + .form-page {
        padding-top: 188px;
      }
    }
  }

  .main-header__container {
    width: 1220px;
    margin: 0 auto;
  }
}
