.addition-product-catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.addition-product-catalog__item {
  padding-top: 11px;
  padding-bottom: 20px;
  border-top: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: 1px solid #d9d9d9;
  }
}

@media (min-width: @tablet-width) {
  .addition-product-catalog__list {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  .addition-product-catalog__item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (min-width: @desktop-width) {
  .addition-product-catalog__item {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .addition-product-catalog__list {
    border: none;
  }
}
