.banner-promotion {
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

.banner-promotion__container {
  position: relative;
  width: 100%;
  height: 290px;
  text-align: center;
}

.banner-promotion__image {
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
}

.banner-promotion__icon {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.banner-promotion__overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: @accent-background-color-opacity;
}

.banner-promotion__text {
  position: absolute;
  display: block;
  width: 170px;
  padding: 0;
  margin: 0 auto;
  bottom: 43px;
  left: 0;
  right: 0;
  font-family: @main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @secondary-font-color;
}

@media (min-width: @tablet-width) {
  .banner-promotion {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 76px;
  }

  .banner-promotion__container {
    height: 200px;
  }

  .banner-promotion__image {
    height: 200px;
  }

  .banner-promotion__icon {
    top: 57px;
    left: 77px;
    right: auto;
    margin: auto;
  }

  .banner-promotion__text {
    top: 70px;
    right: 124px;
    left: auto;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .banner-promotion {
    padding: 0;
    grid-column-start: -2;
    grid-column-end: -1;
  }

  .banner-promotion__container {
    height: 100%;
  }

  .banner-promotion__image {
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .banner-promotion__icon {
    left: 0;
    right: 0;
  }

  .banner-promotion__text {
    top: 184px;
    left: 0;
    right: 0;
  }
}
