.catalog-page {
  padding-top: 66px;
  overflow: hidden;
}

.catalog-page__addition-product-header {
  position: relative;
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 36px;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @main-font-color;

  &::after {
    display: inline-block;
    position: absolute;
    height: 2px;
    top: 18px;
    margin-left: 40px;
    margin-right: 100%;
    width: 200%;
    content: "";
    background-color: #68b738;
  }

  &::before {
    display: inline-block;
    position: absolute;
    height: 2px;
    top: 18px;
    left: -35px;
    margin-left: -100%;
    width: 100%;
    content: "";
    background-color: #68b738;
  }
}

.catalog-page__header {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 40px;
}

.catalog-page__addition-product-catalog {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .catalog-page {
    padding-top: 116px;
  }

  .catalog-page__addition-product-header {
    font-size: 36px;
    line-height: 36px;
    margin-left: 65px;
    margin-bottom: 80px;
  }

  .catalog-page__header {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
  }

  .catalog-page__product-catalog {
    padding-top: 82px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 68px;
  }

  .catalog-page__addition-product-catalog {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-page {
    padding-top: 187px;
  }

  .catalog-page__addition-product-header {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .catalog-page__header {
    max-width: 1220px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .catalog-page__product-catalog {
    padding-top: 84px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 76px;
  }

  .catalog-page__addition-product-catalog {
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .catalog-page__add-catalog-and-banner-container {
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 86px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}
