.description-list-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: @main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @main-light-font-color;
}

.description-list-catalog__value {
  width: 50%;
}

.description-list-catalog__property {
  width: 50%;
  margin: 0;
  text-align: right;
}

@media (min-width: @tablet-width) {
  .description-list-catalog {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: @tablet-width) {
  .description-list-catalog__value,
  .description-list-catalog__property {
    padding-top: 6px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
