.product-card-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card-add__header {
  margin: 0;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @main-lighten-font-color;
}

@media (min-width: @tablet-width) {
  .product-card-add__header {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .product-card-add {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 40px;
  }
}

@media (min-width: @desktop-width) {
  .product-card-add__header {
    margin: 0;
  }
}
