.button-redirect {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @accent-background-color;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-align: center;

  &--promo {
    max-width: 100%;
    padding: 11px 0;
    margin: 0 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: @secondary-font-color;
    order: 2;
    z-index: 1;
  }

  &--product-card {
    width: 100%;
    font-size: 16px;
    line-height: 0;
    padding: 20px 0;
    margin-top: 12px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: @secondary-font-color;
  }

  &:hover {
    background-color: @accent-background-color-hover;
  }

  &:active {
    color: #8fc36e;
  }

  &:focus {
    outline: 2px solid @main-light-font-color;
  }

  &--view-all {
    display: none;
    text-decoration: none;
    text-align: center;
    font-family: @header-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-transform: uppercase;
    min-width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: @main-light-font-color;
    background-color: @background-color-grayish;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: #4444444d;
    }
  }

  &--nojs {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .button-redirect {
    &--promo {
      position: absolute;
      top: 290px;
      font-size: 20px;
      line-height: 20px;
      padding: 18px 0;
      width: 244px;
      margin-left: 118px;
      order: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .button-redirect {
    &--promo {
      position: static;
      width: 244px;
      padding: 17px 0;
      margin-left: 80px;
      order: 0;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
      justify-self: start;
      align-self: start;
    }
  }
}
