.button-redirect {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: @accent-background-color;
  text-decoration: none;
  text-align: center;
}

.button-redirect__text {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @secondary-font-color;
}
