.description-list-example {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 124px;
  box-sizing: border-box;
  padding: 12px 16px 16px 16px;
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.description-list-example__value {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @main-font-color;
  text-transform: uppercase;
}

.description-list-example__property {
  position: absolute;
  width: 47px;
  top: 44px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: @main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  background-color: @background-color-darker-grayish;
  color: @main-font-color;
}

@media (min-width: @tablet-width) {
  .description-list-example__property {
    display: inline;
    width: auto;
    top: 62px;
    background-color: @main-background-color;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .description-list-example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .description-list-example {
    padding: 15px 16px 20px 16px;
    width: 162px;
  }
}

@media (min-width: @desktop-width) {
  .description-list-example__property {
    background-color: @background-color-darker-grayish;
  }
}
