.description-list-cost {
  display: block;
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @main-font-color;
  margin: 0;
  margin-bottom: 20px;
}

.description-list-cost__value {
  display: inline;
}

.description-list-cost__property {
  display: inline;
  margin-left: 0;
}
