.food-options {
  padding-left: 20px;
  padding-right: 20px;
}

.food-options__header {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @main-font-color;
}

.food-options__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.food-options__item {
  background-color: @background-color-grayish;
  margin-bottom: 20px;
  padding: 22px 33px 22px 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.food-options__link-text {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @main-font-color;
}
