.promo {
  background-color: @accent-background-color;
}

.promo__header {
  text-align: center;
  color: @secondary-font-color;
}

.promo__challenge {
  font-family: @header-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @secondary-font-color;
}
